@import "../../../style/variables";

.filter-box {
  border: 1px solid $color-primary;
  background-color: $color-white;
  padding: 8px;
  box-sizing: border-box;
  width: max-content;
  cursor: pointer;
  font-weight: 400;
  position: relative;
  display: grid;
  grid-template-columns: 2fr 1fr 1fr;
  gap: 4px;
  align-items: center;
  grid-template-areas: 'name counter icon';

  &__name {
    grid-area: name;
    font-weight: 500;
  }

  &:hover, &:focus, &--open {
    border-width: 2px;
    margin: -1px;
  }

  &--open {
    z-index: 2;

    @media only screen and (min-width: 769px) {
      border-bottom: transparent;
    }
  }

  &--active {
    .filter-box {
      &__name {
        text-shadow: 0 0 1px $color-primary;
      }

      &__right {
        .icon-chevron {
          stroke-width: 2.5;
        }
      }
    }
  }

  &__icon {
    grid-area: icon;
    width: 36px;
    height: 36px;

    .icon-chevron {
      width: 36px;
      height: 36px;
    }
  }

  &__counter {
    grid-area: counter;
    justify-self: center;
    background-color: $color-primary;
    color: $color-white;
    padding: 4px;
    box-sizing: border-box;
    font-size: 14px;
    width: 20px;
  }
}
