@import "src/style/variables";

.input-checkbox {
  padding: 16px;
  font-size: 16px;
  color: $color-secondary;
  position: relative;
  line-height: 1.5;
  cursor: pointer;
  transition: background-color $transitionTime;

  &:hover {
    background-color: $color-active;
  }

  &__label {
    max-width: 80%;
  }

  &::before {
    content: "";
    width: 100%;
    background-color: $color-divider;
    position: absolute;
    top: 0;
    left: 0;
    height: 1px;
  }

  &::after {
    content: "";
    right: 0;
    border-bottom: 2px solid;
    border-left: 2px solid #1a1a1a;
    border-radius: 0 0 0 3px;
    height: 8px;
    opacity: 0;
    transform: rotate(-50deg);
    width: 16px;
    transition: opacity $transitionTime;

  }

  &--checked {
    font-weight: bold;
    &::after {
      opacity: 1;
    }
  }
}
